In [ ]:
# Q1
# Natural Join
"""
Suppose relation R(A, C) has the following tuples: R = [ (3, 4), (5, 2), (3, 1) ]
and relation S(B, C, D) has the following tuples: S = [ (1, 2, 4), (3, 2, 5), (1, 1, 6) ] 

Compute the natural join of R and S. 
Write down all of the possibilities. 
Assume each tuple has schema (A, B, C, D).
"""

In [49]:
(5, 3, 2, 5)
(3, 1, 1, 6)

(3, 1, 1, 6)

In [ ]:
# Q2
# Theta Join
"""
Suppose relation R(A, B) has the following tuples: R = [ (3, b), (7, t), (2, d) ]
and relation S(B, C, D) has the following tuples: S = [ (a, 20, 9), (t, 8, 10), (d, 1, 3), (b, 5, 6) ]

Compute the theta-join of R and S with the condition R.B = S.B and R.A < S.C. 
Write down all of the possibilities. 
Assume each tuple has schema (A, B, C, D).
"""

In [ ]:
(7, t, 8, 10)
(3, b, 5, 6)

In [ ]:
# Q3
# Cross Join
"""
Suppose relation R(A, C) has the following tuples: R = [ (3, 4), (5, 2) ]
and relation S(B, D) has the following tuples: S = [ (1, 4), (3, 5), (1, 6) ] 
Compute the cross join of R and S. 

Write all of the possibilities.
"""

In [ ]:
(3, 4, 1, 4)
(3, 4, 3, 5)
(3, 4, 1, 6)
(5, 2, 1, 4)
(5, 2, 3, 5)
(5, 2, 1, 6)

In [ ]:
# Q4
# SELECT
R = [{'A' : 1, 'B' : 3, 'C' : 5},
{'A' : 4, 'B' : 1, 'C' : 1},
{'A' : 7, 'B' : 5, 'C' : 2}]

# Select * in R where ‘B’ > 2;

In [ ]:
result = list(i for i in R if i['B'] > 2)
print(result)

In [ ]:
# Q5
# PROJECT
R = [{'A' : 1, 'B' : 3, 'C' : 5},
{'A' : 4, 'B' : 1, 'C' : 1},
{'A' : 7, 'B' : 5, 'C' : 2}]

# Select B, C from R;

In [ ]:
result = list(({a : v[a] for a in ("B", "C") if a in v} for v in R))
print(result)